@import '../../../styles'

.dashboard
  center(980px)
  .header
    *
      text-align center
      font-size 2.5rem
      font-weight 300
  .albums
    margin-top 30px
    .album
      background-color white
      float left
      display grid
      max-width 290px
      margin 5px
      makeShadow(1)
      //col(1/3, 1/3, 1/3)
      .album-img
        max-height 150px
        overflow hidden
        img
          width 100%
          height: auto
      .album-title
        padding tb-padding lr-padding
      .album-artist
        padding tb-padding lr-padding
      .action
        position relative
        left 220px
        bottom 20px
  .search
    center(300px)

